body{
  background-image:url("../images/Mushroom.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}


.content{
  background: white;
  width: 70%;
  padding: 40px;
  margin: 100px auto;
  font-family: calibri;
  border-radius: 10px;
}

p{
  font-size: 25px;
  color: black;
}

/*Global*/
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

/*Func*/

.multi-level, .item ul, .nav input[type="checkbox"] {
  display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

/*Arrow*/

.arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17px 1em 0 2em;
}
.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}
.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}



/*Styles*/

label:hover {
  cursor: pointer;
}
label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
 /* font-family: calibri;*/
  /*font-size: 50px;*/
}
.nav {
  width: 100%;
  background-color: white;
  overflow-x: hidden;
  border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
  font-size: 28px;
  line-height: 50px;
  padding-left: 1em;
  color: white;
  background-color:darkolivegreen;
}

.nav ul, .nav li, label {
  line-height: 50px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  color: #90A4AE;
  font-weight: 100;
  width: 100%;
}
.item ul {
  padding: 0 0.25em;
}
.nav li a {
  line-height: 50px;
  margin: 0;
  padding: 0 4em;
  list-style: none;
  text-decoration: none;
  color: #90A4AE;
  font-weight: 100;
}









