*{
	padding: 0px;
	margin: 0px;
	font-family: arial;
}

body{
    background-image:url("../images/Mushroom.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}

.content{
    background: white;
    width: 70%;
    padding: 40px;
    margin: 100px auto;
    font-family: calibri;
    border-radius: 10px;
}

nav {
	background: darkolivegreen;
	opacity: .8;
}
nav:after{
	content: '';
	display: block;
	clear: both;
}
nav h1 {
	color: #fff;
	float: left;
	padding: 15px;
	margin-left: 90px;
}
.links {
	margin-right: 150px;
	float: right;
}
.links li {
	display: inline-block;
	list-style: none;
	position: relative;

}
.links li a{
	display: inline-block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
}
.links li:hover{
	background: #555;
}
.links li:hover .dropdown{
	display: block;
}
.dropdown {
	background: #111;
	position: absolute;
	display: none;
	top: 57px;
	left: 0px;
	width: 150px;
}
.dropdown li{
	border: 2px solid #222;
	display: block;
	color: #fff;
}
.dropdown-link:hover .dropdown-2{
	display: block;
}
.dropdown-2 {
	background: #111;
	position: absolute;
	display: none;
	top: 0px;
	left: 148px;
	width: 150px;
}